.login{
    background-image: url(/assets/images/bgi-login.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.logo-login img{
    height: 200px;
}
.paraf-login span{
    cursor: pointer;
}
input[type="submit"]{
    cursor: pointer;
}