<header class="menu navbar navbar-fixed-top bgc-darkprimary">
  <div class="container">
    <div class="all-menu div-100">
      <div class="logo-main all-100 text-center">
        <img src="/assets/images/logoTalk.png" alt="">
      </div>
      <div class="menu-list div-100 text-center">
        <ul class="list-inline list-menu ">
          <li>
            <a routerLink="/inicio">
              <i class="icon-inicio"></i>
              Inicio
            </a>
          </li>
          <li>
            <a routerLink="/perfil">
              <i class="icon-usuario"></i>
              Perfil
            </a>
          </li>
          <li>
            <a routerLink="/perfil">
              <i class="icon-lupa"></i>
              Amigos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
