<header class="menu navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
        <div class="logo">

        </div>
      </div>
      <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
        <ul class="list-inline list-menu text-center">
          <li>
            <a routerLink="/inicio">
              <i class="icon-inicio"></i>
              Inicio
            </a>
          </li>
          <li>
              <a routerLink="/perfil">
                <i class="icon-inicio"></i>
                Perfil
              </a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</header>
